<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">
     {{ 'LIST_PERSON.TITLE' | translate }}
    </h1>
  </div>
  <div class="col-md-3 text-right">
    <a routerLink="new" class="btn btn-success float-right">
      {{ 'LIST_PERSON.ACTION_NEW' | translate }}
    </a>
  </div>
</div>

<div class="modal-content">
    <form [formGroup]="pessoaForm">

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="nome">{{ 'LIST_PERSON.NAME' | translate }}</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
        </div>
        <div class="form-group col-md-3">
          <label for="cpf">{{ 'LIST_PERSON.CPF' | translate }}</label>
          <input type="text" mask="000.000.000-00" class="form-control" id="cpf" formControlName="cpf">
        </div>
        <div class="form-group col-md-3">
          <label for="email">{{ 'LIST_PERSON.EMAIL' | translate }}</label>
          <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group col-md-3">
          <label for="dataNascimento">{{ 'LIST_PERSON.BIRTHDAY' | translate }}</label>
          <input type="text" class="form-control" id="dataNascimento" formControlName="dataNascimento"
            mask="d0/m0/0000" [dropSpecialCharacters]="false" placeholder="dd/mm/yyyy" [clearIfNotMatch]="true">
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <a (click)="filtrar()" class="btn btn-success float-right" style="color:#fff">
      {{ 'LIST_PERSON.FILTER' | translate }}
    </a>
  </div>
</div>


<table class="table table-striped table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th></th>
      <th>{{ 'LIST_PERSON.NAME' | translate }}</th>
      <th>{{ 'LIST_PERSON.CPF' | translate }}</th>
      <th>{{ 'LIST_PERSON.EMAIL' | translate }}</th>
      <th>{{ 'LIST_PERSON.BIRTHDAY' | translate }}</th>
      <th>{{ 'LIST_PERSON.ACTIONS' | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pessoa of pessoas | paginate: { itemsPerPage: 4, currentPage: paginaAtual }; let i = index">
      <td>
        <strong>{{ i + 1 }}</strong><br>

      </td>
      <td>
        <strong>{{ pessoa.nome }}</strong><br>

      </td>
      <td>
        <strong>{{ pessoa.cpf | mask: '000.000.000-00' }}</strong><br>
      </td>
      <td>
        <strong>{{ pessoa.email }}</strong><br>
      </td>
      <td>
        <strong>{{ pessoa.dataNascimento }}</strong><br>
      </td>
      <td>
        <a [routerLink]="[pessoa.id, 'edit']" class="btn btn-info btn-sm mr-2">
          {{ 'LIST_PERSON.EDIT' | translate }}
        </a>
        <button (click)="deleteResource(pessoa)" class="btn btn-danger btn-sm">
          {{ 'LIST_PERSON.EXCLUDE' | translate }}
        </button>
      </td>
    </tr>

  </tbody>

</table>

<div class="text-right">
  <pagination-controls (pageChange)="paginaAtual = $event"
    previousLabel="{{ 'LIST_PERSON.BEFORE' | translate }}"
    nextLabel="{{ 'LIST_PERSON.AFTER' | translate }}"></pagination-controls>
</div>
